body {
    width: 100%;
    margin-top: 0%;
    margin-left: 0%;
    text-align: center;
}

.header {
    position: relative;
    padding: 10px;
    width: 100%;
    margin-left: 0%;
}

.row {
    position: relative;
}

.logo {
    font-family: Allerta Stencil;
}

.form-control {
    position: relative;
    border-radius: 50px;
}

.nav_item {
    position: relative;
    border-right: solid 1px black;
}

.nav_icon {
    position: relative;
    width: 15%;
}

.nav_effect{
    font-family: Inter;
    font-size: 80%;
    text-decoration: none;
    color: black;
}

.nav_effect:hover {
    color: rgb(103, 196, 254);
    text-decoration: none;
}

.menu{
    position: relative;
    width: 100%;
    margin-left: 0%;
    font-family: Inter;
    font-weight: bold;
    font-size: 90%;
}

.menu_item{
    padding: 20px;
    text-decoration: none;
    color: black;
}

.menu_item:hover{
background-color: aliceblue;
text-decoration: none;
}